.shopItem {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  border: 1px solid;
  border-radius: 15px;
  padding: 40px;

  height: 400px;
}

.shopItem > img {
  width: 200px;
  height: 200px;

  border-radius: 8px;
}

.shopItemInfo {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  gap: 30px;
}

.shopItemTitle {
  font-weight: bold;
  text-align: left;

  max-width: 200px;
  max-height: 80px;

  font-size: 0.9em;
}

.shopItemPrice {
  margin-bottom: 20px;
}

.userControls {
  display: flex;

  gap: 20px;
}

.itemCounter {
  display: flex;

  border: 1px solid;
  border-radius: 5px;
}

.itemCounter * {
  background-color: inherit;

  min-width: 35px;
}

.itemCounter > input {
  background-color: inherit;

  font-family: inherit;

  border-left: 1px solid;
  border-right: 1px solid;
  border-bottom: 0;
  border-top: 0;

  max-width: 35px;

  text-align: center;
}

.itemCounter > button {
  display: flex;
  justify-content: center;
  align-items: center;

  cursor: pointer;
}

.decrementCounter,
.incrementCounter {
  border: none;
  border-radius: 8px;

  font-size: 1.5em;
}

.decrementCounter:hover,
.incrementCounter:hover {
  background-color: #57505042;
}

.addToCart {
  border-radius: 8px;
  border: 1px solid transparent;

  font-size: 0.8em;
  font-weight: 500;
  font-family: inherit;

  background-color: #646cff;
  color: #fff;

  cursor: pointer;

  max-height: 35px;
}

.addToCart:hover {
  background-color: #4e70cfcb;
}

.addToCart:focus,
.addToCart:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  .addToCart {
    background-color: #4e70cf;
  }

  .incrementCounter,
  .decrementCounter {
    background-color: #f9f9f9;
  }
}

@media only screen and (min-width: 950px) {
  .addToCart {
    padding: 0 15px;
  }
}
